# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# disable directory listing
Options -Indexes

RewriteEngine on
#RewriteBase "/public"

#RewriteCond "/public/${REQUEST_FILENAME}" !-f
#RewriteRule "(.*).html$" "$1.php"
