@import url("fonts/fonts.css");

.header {
    background-image: url('../img/header_pattern.png'), url('../img/home_header.jpg');
    background-position-x: center;
    background-position-y: 0px;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    height: calc(100vh - 60px);
    min-height: 740px;
}

.header .header-content {
    position: relative;
    transform: translateY(-50%);
    top: 50%
}

.header .titre{
    font-family: varela;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    padding-bottom: 30px
}

.header .sous-titre{
    font-family: varela;
    font-size: 20px;
    text-align: justify;
    color:#eee;
    width: 50%;
    min-width: 512px;
    margin: auto;
}

.filtres {
    width: 100%;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;

    background-color: #222;
}

.filtres .filtre{

    display: inline-block;
    margin: auto;
    font-family: varela;
    font-size: 20px;
    color: #ddd;
    line-height: 60px;
}

.recettes {
    width: 100%;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;

    font-family: architects;
    font-size: 14px;
    font-weight: bolder;
    font-style: italic;

}

.recettes .recette{
    position: relative;
    margin: 10px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.recettes .recette img{
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
}

.recettes .recette p{
    display: block;
    position: absolute;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    line-height: 25px;
    background-color: #fff;
    opacity: 0.6;
}